@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Sora:wght@200&display=swap');

@font-face {
   font-family: calendasPlusWebfont;
   src: url(./Misc/calendas-plus-regular-webfont.ttf);
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 10px;
   font-family: 'Lato',sans-serif;
   letter-spacing: normal;
   color: #24324a;
   font-size: 18px;
   line-height: 29px;
   letter-spacing: 0.25px;
   font-weight:600;
}

.header-h1{
   font-family: 'calendasPlusWebfont', sans-serif;
   font-weight: lighter;
   font-size: 38px;
   line-height: 49.5px;
}

.formContainer {
   display: flex;
   margin: 0;
   padding: 0;
}

#container1, #container2{
   margin-right: 30px;
}

input {
   width: 250px;
   height: 50px;
   border-width: 2px;
   border-color: #0472ff;
   color: #0472ff;
   
}

#input1, #label1, #input2, #label2 {
   display: block;
   margin-top: 10px;
   padding: 0;
}

#input1, #input2 {
   padding-left: 20px;
}

#recommended{
   margin: 0;
   padding: 0;
   padding-top: 5px;
   font-size: smaller;
   font-weight: 600;
}

#recommended span {
   font-size: medium;
   padding-left: 0;
   color: #0472ff;
}

#recommended button {
   background-color: #0472ff;
   border-radius: 50%;
   height: 7px;
   width: 7px;
   cursor: pointer;
   border: none;
   vertical-align: middle;   
   color: white;
   font-size: smaller;
   line-height: 2px;
   padding-left: 7px;
}





